@import "./styles/variables";
@import "./styles/margin";
@import "./styles/padding";
@import "./styles/fonts";
@import "./styles/forms";
@import "./styles/alignment";
@import "./styles/colors";

@include mat-core();

@include angular-material-theme($app-theme);

html,
body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
}

* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.display-none {
  display: none;
}
