{{#isPageRequest}}{{pagination-request-adoc}}

{{/isPageRequest}}{{#hasContent}}
[cols="1,1,1,3"]
|===
|{{th-parameter}}|{{th-type}}|{{th-optional}}|{{th-description}}

{{#content}}
|{{path}}
|{{type}}
|{{optional}}
|{{description}}

{{/content}}
|==={{/hasContent}}{{#noContent}}{{no-params}}{{/noContent}}
