<mat-card class="form__card--small form__card--animated">
  <mat-card-header>
    <mat-card-title>
      <h1>Registrieren</h1>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <mat-card-content>
      <p>
        Wenn Sie von Ihrer zuständigen Behörde benachrichtigt wurde, um Ihre
        Symptome online zu melden, können Sie sich hier registrieren.
      </p>
      <mat-form-field
        class="form__input--full-width"
        appearance="outline"
        data-cy="input-client-code"
      >
        <mat-label>Anmeldecode</mat-label>
        <input
          matInput
          formControlName="clientCode"
          placeholder="Anmeldecode"
          id="client-code"
          #client_code_input
          (blur)="trimValue(client_code_input)"
        />
        <mat-error
          *ngIf="registrationForm.controls.clientCode.hasError('codeInvalid')"
        >
          Der angegebene Code ist ungültig.
        </mat-error>
        <mat-error
          *ngIf="registrationForm.controls.clientCode.hasError('required')"
          >Bitte geben Sie einen Anmeldecode ein</mat-error
        >
        <mat-error
          *ngIf="
            registrationForm.controls.clientCode.hasError('trimmedPattern')
          "
          >{{
            registrationForm.controls.clientCode.getError('trimmedPattern')
              .errorMessage
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="form__input--full-width"
        appearance="outline"
        data-cy="input-username"
      >
        <mat-label>Benutzername</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Benutzername"
          id="username"
          (change)="changeUsername()"
          #username_input
          (blur)="trimValue(username_input)"
        />
        <mat-error
          *ngIf="registrationForm.controls.username.hasError('usernameInvalid')"
        >
          Der angegebene Benutzername kann nicht verwendet werden.
        </mat-error>
        <mat-error
          *ngIf="registrationForm.controls.username.hasError('required')"
          >Bitte geben Sie einen Benutzernamen ein</mat-error
        >
        <mat-error
          *ngIf="registrationForm.controls.username.hasError('minlength')"
          >Der Benutzername muss mindestens 1 Zeichen lang sein</mat-error
        >
        <mat-error
          *ngIf="registrationForm.controls.username.hasError('maxlength')"
          >Der Benutzername darf maximal 30 Zeichen lang sein</mat-error
        >
        <mat-error
          *ngIf="registrationForm.controls.username.hasError('trimmedPattern')"
          >{{
            registrationForm.controls.username.getError('trimmedPattern')
              .errorMessage
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="form__input--full-width"
        appearance="outline"
        data-cy="input-password"
      >
        <mat-label>Passwort</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Passwort"
          id="password"
          type="password"
          #password_input
          (blur)="trimValue(password_input)"
        />
        <mat-error
          *ngIf="registrationForm.controls.password.hasError('required')"
          >Bitte geben Sie ein Passwort ein</mat-error
        >
        <mat-error
          *ngIf="registrationForm.controls.password.hasError('minlength')"
        >
          Das Passwort muss mindestens 7 Zeichen lang sein.
        </mat-error>
        <mat-error
          *ngIf="registrationForm.controls.password.hasError('maxlength')"
        >
          Das Passwort darf höchstens 30 Zeichen lang sein.
        </mat-error>
        <mat-error
          *ngIf="registrationForm.controls.password.hasError('uppercase')"
        >
          Das Passwort muss mindestens einen Großbuchstaben beinhalten.
        </mat-error>
        <mat-error *ngIf="registrationForm.controls.password.hasError('digit')">
          Das Passwort muss mindestens eine Zahl beinhalten.
        </mat-error>
        <mat-error
          *ngIf="registrationForm.controls.password.hasError('nonWordChar')"
        >
          Das Passwort muss mindestens eines der folgenden Sonderzeichen
          beinhalten: @ # $ % ^ & * ( ) , . ? : | &lt; >
        </mat-error>
        <mat-error
          *ngIf="registrationForm.hasError('passwordIncludesUsername')"
        >
          Das Passwort darf nicht den Benutzernamen beinhalten.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="form__input--full-width"
        appearance="outline"
        data-cy="input-password-confirm"
      >
        <mat-label>Passwort bestätigen</mat-label>
        <input
          matInput
          formControlName="passwordConfirm"
          placeholder="Passwort bestätigen"
          id="password-confirm"
          type="password"
          #password_confirm_input
          (blur)="trimValue(password_confirm_input)"
          [errorStateMatcher]="confirmValidParentMatcher"
        />
        <mat-error
          *ngIf="registrationForm.controls.passwordConfirm.hasError('required')"
          >Bitte bestätigen Sie das Passwort</mat-error
        >
        <mat-error *ngIf="registrationForm.hasError('passwordConfirmWrong')">
          Das Passwort und die Bestätigung müssen übereinstimmen.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="form__input--full-width"
        appearance="outline"
        data-cy="input-dateofbirth"
      >
        <mat-label>Geburtsdatum</mat-label>
        <input
          matInput
          formControlName="dateOfBirth"
          [matDatepicker]="picker"
          [max]="today"
          #date_of_birth_input
          (blur)="trimValue(date_of_birth_input)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          >Bitte geben Sie zur Verifizierung Ihr Geburtsdatum ein.</mat-error
        >
      </mat-form-field>
      <div class="data-protection-wrapper">
        <mat-checkbox
          formControlName="dataProtectionConfirmed"
          data-cy="input-privacy-policy"
          >Hiermit akzeptiere ich die
          <button
            type="button"
            class="p-0"
            id="data-protection-btn"
            mat-button
            (click)="openDataProtection()"
          >
            Datenschutzerklärung
          </button></mat-checkbox
        >
        <mat-icon
          style="cursor: pointer; opacity: 0.8;"
          matTooltip="Sie können sich nur für quarano registrieren, wenn Sie der Datenschutzerklärung zustimmen. Andernfalls wenden Sie sich bitte umgehend an Ihr zuständiges Gesundheitsamt."
          matTooltipPosition="after"
          class="ml-1 text-muted"
        >
          info</mat-icon
        >
      </div>
    </mat-card-content>
    <mat-card-actions>
      <qro-button
        data-cy="registration-submit-button"
        [disabled]="registrationForm.invalid"
        [loading]="loading"
      >
        Registrieren
      </qro-button>
    </mat-card-actions>
  </form>
</mat-card>
