@import '../../../../../../../libs/shared/util/src/lib/styles/variables';

.data-protection-wrapper {
  display: flex;
  align-items: center;
}

::ng-deep {
  .mat-dialog-content {
    max-height: 95vh !important;
  }
}

#data-protection-btn {
  margin: 0 !important;
  color: $primary-color;
}
