<div class="container">
  <mat-card class="form__card--small">
    <mat-card-header>
      <mat-card-title>Kontakt nachtragen</mat-card-title>
    </mat-card-header>
    <img width="100%" src="../../../../assets/images/idea.png" />
    <mat-card-content style="margin-top: 16px;">
      Falls Sie während der anfänglichen Dateneingabe den Kontakt zu einer
      Person vergessen haben, können Sie diesen hier nachtragen. Dies bezieht
      sich lediglich auf Kontakte in der Zeit bevor Sie mit der elektronischen
      Erfassung ihrer täglichen Einträge begonnen haben.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button">
        Jetzt nachtragen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
