@import "../../../../styles/variables";

::ng-deep {
  .ngx-datatable.material.single-selection .datatable-body-row.active,
  .ngx-datatable.material.single-selection
    .datatable-body-row.active
    .datatable-row-group,
  .ngx-datatable.material.multi-selection .datatable-body-row.active,
  .ngx-datatable.material.multi-selection
    .datatable-body-row.active
    .datatable-row-group,
  .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
  .ngx-datatable.material.multi-click-selection
    .datatable-body-row.active
    .datatable-row-group {
    background-color: $primary-color !important;
  }

  .datatable-row-center.datatable-row-group.ng-star-inserted {
    display: flex !important;
    align-items: center !important;
  }
}
