@import "../../../styles/variables";

#header {
  background-image: linear-gradient(to right, #5ce1e6, #120816) !important;
  position: fixed;
  top: 0;
  z-index: 5000;
}

#logo:hover,
#logo:active,
#logo:focus {
  cursor: pointer;
}

img {
  max-height: 95%;
}

.tenant-wrapper {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;

  @media (max-width: $break-lg) {
    display: none;
  }
}

nav {
  margin-left: 40px;

  @media (max-width: $break-sm) {
    margin-left: 15px;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

    @media (max-width: $break-sm) {
      padding: 10px 7px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    & ~ a {
      margin-left: 20px;

      @media (max-width: $break-sm) {
        margin-left: 5px;
      }
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
