<mat-toolbar color="primary" id="header">
  <img
    id="logo"
    src="../../../assets/epitrack_transparent_logo.png"
    [routerLink]="['/']"
  />
  <h6 class="ml-3">epitrack</h6>

  <nav *ngIf="isAuthenticated$$ | async">
    <a routerLink="/diary" routerLinkActive="active">Tagebuch</a>
    <a routerLink="/contacts" routerLinkActive="active">Kontakte</a>
  </nav>
  <div style="flex: 1 1 auto"></div>
  <div class="tenant-wrapper">
    <ng-container [ngSwitch]="urlTenant">
      <h6 *ngSwitchCase="tenantsEnum.develop">Develop</h6>
      <h6 *ngSwitchCase="tenantsEnum.testhausen">
        In Kooperation mit Gesundheitsamt Testhausen
      </h6>
      <h6 *ngSwitchCase="tenantsEnum.testberg">
        Gesundheitsamt Testberg
      </h6>
    </ng-container>
    <h6 *ngIf="(tenant$$ | async) !== null" (click)="tenantLogout()" style="cursor: pointer;" id="tenant-admin-logout">Logout</h6>
  </div>
</mat-toolbar>
<mat-progress-bar
  mode="query"
  *ngIf="progressBarActive$$ | async"
></mat-progress-bar>
<div style="height: 4px" *ngIf="!(progressBarActive$$ | async)"></div>
