@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("assets/fonts/poppins/poppins-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/poppins/poppins-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/poppins/poppins-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("assets/fonts/poppins/poppins-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/poppins/poppins-v9-latin-regular.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("assets/fonts/poppins/poppins-v9-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/poppins/poppins-v9-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/poppins/poppins-v9-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("assets/fonts/poppins/poppins-v9-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/poppins/poppins-v9-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
