.flex {
  display: flex;
}

mat-checkbox {
  margin-left: 15px;
}

.button-area {
  padding-bottom: 5px;

  .mat-button, .mat-raised-button, .mat-stroked-button {
    margin: 0 8px;
  }

  .mat-button:first-child, .mat-raised-button:first-child, .mat-stroked-button:first-child {
    margin-left: 0;
    margin-right: 0;
  }
}
