<div class="container">
  <header>
    <app-header-left style="height: 100%; flex-grow: 1;"></app-header-left>
    <app-header-right style="height: 100%;"></app-header-right>
  </header>
  <mat-progress-bar
    mode="query"
    *ngIf="progressBarActive"
    class="mb-3"
  ></mat-progress-bar>
  <div class="mb-3" style="height: 4px;" *ngIf="!progressBarActive"></div>
  <main>
    <article><router-outlet></router-outlet></article>
    <nav></nav>
    <aside><app-aside></app-aside></aside>
  </main>
  <footer><app-footer></app-footer></footer>
</div>
