.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.vs
frontend/apps/quarano-frontend-e2e/coverage/
frontend/apps/quarano-frontend-e2e/.nyc_output
frontend/apps/quarano-frontend-e2e/debug.log
