<form
  [formGroup]="formGroup"
  (ngSubmit)="submitForm()"
  class="mt-3"
  #editForm="ngForm"
>
  <fieldset class="mb-3">
    <legend>Basisdaten</legend>
    <mat-form-field class="half-width" data-cy="input-firstname">
      <input
        required
        matInput
        placeholder="Vorname"
        formControlName="firstName"
        type="text"
        #first_name_input
        (blur)="trimValue(first_name_input)"
      />
      <mat-error *ngIf="formGroup.get('firstName').hasError('required')"
        >Bitte geben Sie einen Vornamen ein</mat-error
      >
      <mat-error
        *ngIf="formGroup.get('firstName').hasError('trimmedPattern')"
        >{{
          formGroup.controls.firstName.getError('trimmedPattern').errorMessage
        }}</mat-error
      >
    </mat-form-field>
    <mat-form-field class="half-width" data-cy="input-lastname">
      <input
        matInput
        required
        placeholder="Nachname"
        formControlName="lastName"
        type="text"
        #last_name_input
        (blur)="trimValue(last_name_input)"
      />
      <mat-error *ngIf="formGroup.get('lastName').hasError('required')"
        >Bitte geben Sie einen Nachnamen ein</mat-error
      >
      <mat-error *ngIf="formGroup.get('lastName').hasError('trimmedPattern')">{{
        formGroup.controls.lastName.getError('trimmedPattern').errorMessage
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width" data-cy="input-dayofbirth">
      <mat-label>Geburtsdatum</mat-label>
      <input
        matInput
        [max]="today"
        [matDatepicker]="dateOfBirthPicker"
        formControlName="dateOfBirth"
        #date_of_birth_input
        (blur)="trimValue(date_of_birth_input)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateOfBirthPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateOfBirthPicker></mat-datepicker>
      <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
    </mat-form-field>
  </fieldset>
  <fieldset class="mb-3">
    <legend>Krankheitsdaten</legend>
    <div class="form-flex">
      <mat-form-field class="half-width" data-cy="input-testdate">
        <mat-label>Abstrichdatum (Test)</mat-label>
        <input
          matInput
          [required]="isIndexCase"
          [max]="today"
          [matDatepicker]="testDatePicker"
          formControlName="testDate"
          #test_date_input
          (blur)="trimValue(test_date_input)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="testDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #testDatePicker></mat-datepicker>
        <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
      </mat-form-field>
      <div
        class="half-width form-field form-field-radio"
        *ngIf="formGroup.controls.testDate.value"
      >
        <label class="example-margin">Covid-19 Test:</label>
        <mat-radio-group formControlName="infected">
          <mat-radio-button class="example-margin" [value]="true"
            >Positiv</mat-radio-button
          >
          <mat-radio-button class="example-margin" [value]="false"
            >Negativ</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <mat-form-field class="half-width" data-cy="input-quarantinestart">
      <mat-label>Beginn häusliche Isolation</mat-label>
      <input
        matInput
        [required]="isIndexCase"
        [max]="today"
        [matDatepicker]="quarantineStartPicker"
        formControlName="quarantineStartDate"
        #quarantine_start_input
        (blur)="trimValue(quarantine_start_input)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="quarantineStartPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #quarantineStartPicker></mat-datepicker>
      <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width" data-cy="input-quarantineend">
      <mat-label>Ende häusliche Isolation</mat-label>
      <input
        matInput
        [required]="isIndexCase"
        [matDatepicker]="quarantineEndDatePicker"
        formControlName="quarantineEndDate"
        #quarantine_end_input
        (blur)="trimValue(quarantine_end_input)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="quarantineEndDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #quarantineEndDatePicker></mat-datepicker>
      <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
    </mat-form-field>
  </fieldset>
  <fieldset class="mb-3">
    <legend>Kontaktmöglichkeiten {{ isIndexCase ? '*' : '' }}</legend>
    <mat-error
      *ngIf="
        formGroup.getError('phoneMissing') &&
        (formGroup.controls.phone.touched ||
          formGroup.controls.mobilePhone.touched)
      "
    >
      Bitte geben Sie mindestens eine Telefonnummer ein</mat-error
    >
    <mat-form-field class="half-width" data-cy="input-phone">
      <input
        matInput
        maxlength="17"
        minlength="5"
        placeholder="Telefonnummer (Festnetz)"
        formControlName="phone"
        type="phone"
        #phone_input
        (blur)="trimValue(phone_input)"
      />
      <mat-error *ngIf="formGroup.controls.phone.hasError('minlength')"
        >Die Telefonnummer muss mindestens 5 Zeichen haben</mat-error
      ><mat-error *ngIf="formGroup.controls.phone.hasError('maxlength')"
        >DieTelefonnummer darf maximal 17 Zeichen haben</mat-error
      >
      <mat-error *ngIf="formGroup.controls.phone.hasError('trimmedPattern')">{{
        formGroup.controls.phone.getError('trimmedPattern').errorMessage
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width" data-cy="input-mobile">
      <input
        matInput
        maxlength="17"
        minlength="5"
        placeholder="Telefonnummer (mobil)"
        formControlName="mobilePhone"
        type="phone"
        #mobile_phone_input
        (blur)="trimValue(mobile_phone_input)"
      />
      <mat-error *ngIf="formGroup.controls.mobilePhone.hasError('minlength')"
        >Die Telefonnummer muss mindestens 5 Zeichen lang sein</mat-error
      ><mat-error *ngIf="formGroup.controls.mobilePhone.hasError('maxlength')"
        >Die Telefonnummer darf maximal 17 Zeichen lang sein</mat-error
      >
      <mat-error
        *ngIf="formGroup.controls.mobilePhone.hasError('trimmedPattern')"
        >{{
          formGroup.controls.mobilePhone.getError('trimmedPattern').errorMessage
        }}</mat-error
      >
    </mat-form-field>
    <mat-form-field class="full-width" data-cy="input-email">
      <input
        matInput
        placeholder="E-Mail"
        formControlName="email"
        type="email"
        #email_input
        (blur)="trimValue(email_input)"
      />
      <mat-error *ngIf="formGroup.controls.email.hasError('trimmedPattern')">{{
        formGroup.controls.email.getError('trimmedPattern').errorMessage
      }}</mat-error>
    </mat-form-field>
  </fieldset>
  <fieldset class="mb-3">
    <legend>Adresse</legend>
    <mat-form-field style="width: 70%;">
      <input
        matInput
        placeholder="Straße"
        formControlName="street"
        type="text"
        #street_input
        (blur)="trimValue(first_name_input)"
      />
      <mat-error *ngIf="formGroup.controls.street.hasError('trimmedPattern')">{{
        formGroup.controls.street.getError('trimmedPattern').errorMessage
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 30%;">
      <input
        matInput
        placeholder="Hausnummer"
        maxlength="6"
        formControlName="houseNumber"
        type="text"
        #house_number_input
        (blur)="trimValue(house_number_input)"
      />
      <mat-error
        *ngIf="formGroup.controls.houseNumber.hasError('trimmedPattern')"
        >{{
          formGroup.controls.houseNumber.getError('trimmedPattern').errorMessage
        }}</mat-error
      >
    </mat-form-field>
    <mat-form-field style="width: 30%;" data-cy="input-zipcode">
      <input
        matInput
        placeholder="Postleitzahl"
        minlength="5"
        maxlength="5"
        formControlName="zipCode"
        type="text"
        #zip_code_input
        (blur)="trimValue(zip_code_input)"
      />
      <mat-error
        *ngIf="formGroup.controls.zipCode.hasError('trimmedPattern')"
        >{{
          formGroup.controls.zipCode.getError('trimmedPattern').errorMessage
        }}</mat-error
      >
    </mat-form-field>
    <mat-form-field style="width: 70%;">
      <input
        matInput
        placeholder="Ort"
        formControlName="city"
        type="text"
        #city_input
        (blur)="trimValue(city_input)"
      />
      <mat-error *ngIf="formGroup.controls.city.hasError('trimmedPattern')">{{
        formGroup.controls.city.getError('trimmedPattern').errorMessage
      }}</mat-error>
    </mat-form-field>
  </fieldset>
  <div class="button-area">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      data-cy="client-submit-button"
      [disabled]="formGroup.invalid || formGroup.pristine"
    >
      Speichern
    </button>
    <button
      type="button"
      mat-raised-button
      color="secondary"
      [routerLink]="[returnLink]"
    >
      Abbrechen
    </button>
  </div>
</form>
