@import "../../../src/styles/margin";
@import "../../../src/styles/variables";

.contact-card {
  @extend .mb-3;
  @extend .mx-auto;
  max-width: 300px;
  height: 250px;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: #fafafa;
  }
}

.header-image {
  background-image: url("../../assets/conatct-person.png");
  background-size: cover;
}

::ng-deep {
  .mat-card-header-text {
    overflow: hidden !important;
  }
}

mat-card-content p span,
.mat-card-header .mat-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

mat-card-subtitle,
mat-card-content p {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-icon {
    margin-right: 0.5rem;
    color: rgba(0, 0, 0, 0.54);
  }
}

@media screen and (min-width: $break-xl) and (max-width: $break-xxl) {
  .header-image {
    display: none;
  }

  ::ng-deep {
    .mat-card-header-text {
      margin-left: 0;
    }
  }
}
