$mat-primary: (
  50: #cbf5f7,
  100: #b4f1f4,
  200: #9eedf0,
  300: #88e9ed,
  400: #72e5e9,
  500: #5ce1e6,
  600: #46dde3,
  700: #30d9df,
  800: #21ced5,
  900: #1db9bf,
  A100: #e1f9fa,
  A200: #f7fdfe,
  A400: #ffffff,
  A700: #1aa3a9,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
$mat-accent: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #030103,
  600: #210f29,
  700: #31163b,
  800: #401c4e,
  900: #4f2361,
  A100: #210f29,
  A200: #120816,
  A400: #030103,
  A700: #5e2a73,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
