.background-red {
  background-color: rgb(153, 50, 50) !important;
  color: beige;
}

.background-green {
  background-color: rgb(29, 102, 29) !important;
  color: beige;
}

.background-orange {
  background-color: orange !important;
}

.dark-primary-color {
  background: #0097a7;
}

.default-primary-color {
  background: #00bcd4;
}

.light-primary-color {
  background-color: #b2ebf2 !important;
  color: black !important;
}

.text-primary-color {
  color: #ffffff;
}

.accent-color {
  background: #ffc107;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  border-color: #bdbdbd;
}

.text-muted {
  color: $muted-color !important;
}

mat-label {
  color: $muted-color;
}
