@font-face {
  font-family: GlacialIndifference;
  src: url("../assets/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: GlacialIndifferenceBold;
  src: url("../assets/glacial-indifference/GlacialIndifference-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: OpenSans;
  src: url("../assets/open-sans/OpenSans-Regular.ttf") format("opentype");
}
