@font-face {
  font-family: GlacialIndifference;
  src: url("../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: GlacialIndifferenceBold;
  src: url("../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf")
    format("opentype");
}
