.form__input--full-width {
  width: 100%;
}

.form__card--small {
  @extend .mx-auto;
  max-width: 700px;

  .mat-card-header-text {
    margin-left: 0 !important;
  }

  .mat-card-actions {
    // By default, there is a negative margin
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .mat-button {
    margin-right: 15px !important;
    & ~ .mat-button {
      margin-top: 20px !important;
      margin-left: 0;
      margin-right: 15px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (max-width: $break-sm) {
    width: 90%;
    .mat-step-label {
      display: none;
    }
    .mat-card-actions {
      .mat-button {
        width: 100% !important;
        margin: 5px 0;
      }
      .mat-button ~ .mat-button {
        margin-top: 20px !important;
      }
    }
  }
}

.form__card--animated {
  animation-name: fade-card;
  animation-duration: 0.25s;
}

.radio-button__group--horizontal {
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}

.radio-button__group--vertical {
  display: flex;
  flex-direction: column;

  .mat-radio-button ~ .mat-radio-button {
    margin-top: 16px;
  }
}

@keyframes fade-card {
  from {
    opacity: 0;
    left: 40%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.mat-card {
  margin-bottom: 40px;
}
