@import "variables";
@import "margin";
@import "padding";
@import "fonts";
@import "forms";
@import "alignment";
@import "colors";

@include mat-core();

@include angular-material-theme($app-theme);

html,
body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
}

* {
  font-family: GlacialIndifference, "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: GlacialIndifferenceBold !important;
}
