<mat-card *ngIf="diaryEntries.size > 0">
  <mat-card-header
    ><mat-card-title>
      <button
        id="entry-button"
        mat-raised-button
        type="button"
        color="primary"
        routerLink="new"
      >
        <mat-icon>add</mat-icon>
        Neuen Eintrag anlegen
      </button>
      <button
        id="contact-button"
        mat-button
        type="button"
        (click)="openContactDialog()"
        matTooltip="Falls Sie während der anfänglichen Dateneingabe den Kontakt zu einer Person vergessen haben, können Sie diesen hier nachtragen. Dies bezieht sich lediglich auf Kontakte in der Zeit bevor Sie mit der elektronischen Erfassung Ihrer täglichen Einträge begonnen haben."
      >
        <mat-icon>group</mat-icon>
        Kontakt nachtragen
      </button>
    </mat-card-title>
  </mat-card-header>
  <app-alert
    *ngIf="diaryEntries.size === 0"
    message="Noch keine Einträge vorhanden"
  ></app-alert>
  <mat-card-content>
    <ng-container *ngFor="let group of diaryEntries | keyvalue: originalOrder">
      <app-diary-list-item
        [date]="group.key"
        [entries]="group.value"
      ></app-diary-list-item>
    </ng-container>
  </mat-card-content>
</mat-card>
