<mat-toolbar color="accent" id="footer"
  ><div class="footer__hashtag">
    <a
      href="https://trendtwitter.com/WirvsVirusHack/"
      target="_blank"
      id="link"
    >
      <h6 style="color: #f4f4f4;">#wirvsvirushack</h6>
    </a>
  </div>
  <div style="flex: 1 1 auto"></div>
  <nav>
    <a routerLink="/tenant-admin" routerLinkActive="active" id="tenant-admin-login-link">Für Behörden</a>
  </nav>
  <div style="flex: 1 1 auto"></div>

  <div id="footer-wrapper">
    <a
      *ngFor="let item of pictureUris | keyvalue"
      [href]="item.key"
      target="_blank"
      ><img [src]="item.value" style="margin-left: 1rem;"
    /></a>
  </div>
</mat-toolbar>
