<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-card class="form__card--small form__card--animated">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{
        isNew ? "Neue Kontaktperson anlegen" : "Kontaktperson bearbeiten"
      }}</mat-card-title>
      <mat-card-subtitle>Pflichteingaben sind mit * markiert</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="half-width">
        <input
          matInput
          placeholder="Vorname"
          formControlName="firstName"
          type="text"
          #first_name_input
          (blur)="trimValue(first_name_input)"
        />
        <mat-error
          *ngIf="formGroup.controls.firstName.hasError('trimmedPattern')"
          >{{
            formGroup.controls.firstName.getError("trimmedPattern").errorMessage
          }}</mat-error
        >
      </mat-form-field>
      <mat-form-field class="half-width">
        <input
          matInput
          placeholder="Nachname"
          formControlName="lastName"
          type="text"
          #last_name_input
          (blur)="trimValue(first_name_input)"
        />
        <mat-error
          *ngIf="formGroup.controls.lastName.hasError('trimmedPattern')"
          >{{
            formGroup.controls.lastName.getError("trimmedPattern").errorMessage
          }}</mat-error
        >
      </mat-form-field>
      <fieldset class="mb-3">
        <legend>Kontaktmöglichkeiten *</legend>
        <mat-form-field class="full-width">
          <input
            matInput
            maxlength="17"
            minlength="5"
            placeholder="Telefonnummer (Festnetz)"
            formControlName="phone"
            type="phone"
            #phone_input
            (blur)="trimValue(phone_input)"
          />
          <mat-error *ngIf="formGroup.controls.phone.hasError('minlength')"
            >Die Telefonnummer muss mindestens 5 Zeichen haben</mat-error
          ><mat-error *ngIf="formGroup.controls.phone.hasError('maxlength')"
            >Die Telefonnummer darf maximal 17 Zeichen haben</mat-error
          >
          <mat-error
            *ngIf="formGroup.controls.phone.hasError('trimmedPattern')"
            >{{
              formGroup.controls.phone.getError("trimmedPattern").errorMessage
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            maxlength="17"
            minlength="5"
            placeholder="Telefonnummer (mobil)"
            formControlName="mobilePhone"
            type="phone"
            #mobile_phone_input
            (blur)="trimValue(mobile_phone_input)"
          />
          <mat-error
            *ngIf="formGroup.controls.mobilePhone.hasError('minlength')"
            >Die Telefonnummer muss mindestens 5 Zeichen haben</mat-error
          ><mat-error
            *ngIf="formGroup.controls.mobilePhone.hasError('maxlength')"
            >Die Telefonnummer darf maximal 17 Zeichen haben</mat-error
          >
          <mat-error
            *ngIf="formGroup.controls.mobilePhone.hasError('trimmedPattern')"
            >{{
              formGroup.controls.mobilePhone.getError("trimmedPattern")
                .errorMessage
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="E-Mail"
            formControlName="email"
            type="email"
            #email_input
            (blur)="trimValue(email_input)"
          />
          <mat-error
            *ngIf="formGroup.controls.email.hasError('trimmedPattern')"
            >{{
              formGroup.controls.email.getError("trimmedPattern").errorMessage
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field
          class="full-width"
          [class]="showIdentificationHintField ? '' : 'display-none'"
        >
          <mat-label>Hinweise zur Identifikation</mat-label>
          <textarea
            [mat-autosize]="true"
            [matAutosizeMinRows]="8"
            matInput
            formControlName="identificationHint"
            placeholder="Bitte geben Sie uns weitere Hinweise, wie wir die Person ermitteln könnten (z.B. Mitarbeiter von Bäckerei 'Müller', Taxifahrer, Mitarbeiter im Pflegeheim oder Krankenhaus 'Klinikum Mannheim' und bitte auch dazugehörige Telefonnummern oder Kontaktwege wie z.B. Nummer des Pflegeheims, etc) damit wir den Kontakt schnellstmöglich ermitteln können"
          ></textarea>
          <mat-error
            >Bitte geben Sie mindestens eine Kontaktmöglichkeit oder einen
            Hinweis zur Identifikation ein</mat-error
          >
        </mat-form-field>
      </fieldset>
      <fieldset class="mb-3">
        <legend>Adresse</legend>
        <mat-form-field style="width: 70%;">
          <input
            matInput
            placeholder="Straße"
            formControlName="street"
            type="text"
            #street_input
            (blur)="trimValue(street_input)"
          />
          <mat-error
            *ngIf="formGroup.controls.street.hasError('trimmedPattern')"
            >{{
              formGroup.controls.street.getError("trimmedPattern").errorMessage
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 30%;">
          <input
            matInput
            placeholder="Hausnummer"
            maxlength="6"
            formControlName="houseNumber"
            type="text"
            #house_number_input
            (blur)="trimValue(house_number_input)"
          />
          <mat-error
            *ngIf="formGroup.controls.houseNumber.hasError('trimmedPattern')"
            >{{
              formGroup.controls.houseNumber.getError("trimmedPattern")
                .errorMessage
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 30%;">
          <input
            matInput
            placeholder="Postleitzahl"
            minlength="5"
            maxlength="5"
            formControlName="zipCode"
            type="text"
            #zip_code_input
            (blur)="trimValue(zip_code_input)"
          />
          <mat-error
            *ngIf="formGroup.controls.zipCode.hasError('trimmedPattern')"
            >{{
              formGroup.controls.zipCode.getError("trimmedPattern").errorMessage
            }}</mat-error
          >
        </mat-form-field>
        <mat-form-field style="width: 70%;">
          <input
            matInput
            placeholder="Ort"
            formControlName="city"
            type="text"
            #city_input
            (blur)="trimValue(city_input)"
          />
          <mat-error
            *ngIf="formGroup.controls.city.hasError('trimmedPattern')"
            >{{
              formGroup.controls.city.getError("trimmedPattern").errorMessage
            }}</mat-error
          >
        </mat-form-field>
      </fieldset>
      <fieldset class="mb-3">
        <legend>Risikoeinschätzung</legend>
        <qro-alert
          message="Bitte beantworten Sie abschließend noch folgende Aussagen über die Kontaktperson"
        >
        </qro-alert>
        <div style="display: flex; flex-direction: column;">
          <div class="risk-question">
            <mat-label id="example-radio-group-label"
              >Die Kontaktperson arbeitet im medizinischen Umfeld oder in einem
              Pflegeberuf</mat-label
            >
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="isHealthStaff"
            >
              <mat-radio-button class="example-radio-button" [value]="true">
                Ja
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="false">
                Nein
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="null">
                Das weiß ich nicht
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="risk-question">
            <mat-label id="example-radio-group-label"
              >Die Kontaktperson ist über 60 jahre alt</mat-label
            >
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="isSenior"
            >
              <mat-radio-button class="example-radio-button" [value]="true">
                Ja
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="false">
                Nein
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="null">
                Das weiß ich nicht
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="risk-question">
            <mat-label
              id="example-radio-group-label"
              style="display: flex; align-items: center;"
              >Die Kontaktperson hat bekannte Vorerkrankungen<mat-icon
                class="ml-1"
                style="cursor: pointer;"
                matTooltip="In diesem Fall sind das folgende Vorerkankungen: chronische Herzerkrankung, Lungenerkrankungen (z. B. Asthma, COPD, chronische Bronchitis), chronische Lebererkrankungen, Diabetes mellitus (Zuckerkrankheit), Tumor-/Krebserkrankungen, Patienten mit geschwächtem Immunsystem (inkl. HIV/AIDS)"
              >
                info</mat-icon
              ></mat-label
            >

            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="hasPreExistingConditions"
            >
              <mat-radio-button class="example-radio-button" [value]="true">
                Ja
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="false">
                Nein
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="null">
                Das weiß ich nicht
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </fieldset>
      <mat-form-field class="full-width">
        <mat-label>Sonstige Bemerkungen</mat-label>
        <textarea
          [mat-autosize]="true"
          [matAutosizeMinRows]="4"
          matInput
          formControlName="remark"
          placeholder="Hier haben Sie die Möglichkeit weitere Kommentare oder Hinweise für das Gesundheitsamt anzugeben"
        ></textarea>
        <mat-hint align="start"
          ><strong
            >Hier haben Sie die Möglichkeit weitere Kommentare oder Hinweise für
            das Gesundheitsamt anzugeben</strong
          >
        </mat-hint>
        <mat-error
          *ngIf="formGroup.controls.remark.hasError('trimmedPattern')"
          >{{
            formGroup.controls.remark.getError("trimmedPattern").errorMessage
          }}</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid || formGroup.pristine"
      >
        Speichern
      </button>
      <button
        type="button"
        mat-raised-button
        color="secondary"
        (click)="cancel()"
      >
        Abbrechen
      </button>
    </mat-card-actions>
  </mat-card>
</form>
