<mat-card class="form__card--animated">
    <mat-card-header>
        <mat-card-title>
            <h1>Title</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="userType === 'index'">
        <section>
            <p>Lorem ipsum dolor sit amet, duo fugit latine docendi ei, ne illud liber praesent per. Mei cu facilis
                abhorreant, quaeque indoctum scripserit et pro. Ei blandit officiis efficiantur sed, ea pro option
                concludaturque. Accusata recteque eum eu, vis eu viris assueverit. Recusabo iudicabit appellantur mel
                ex, illum
                primis appareat quo ea. Pro stet cibo definitiones ea, vim tale reformidans conclusionemque te. Pericula
                ullamcorper ad sed.</p>
            <p>Sea in quidam accommodare, est elitr verterem an. Te qui putent fuisset, ne errem possim sea, eam
                invenire
                abhorreant adversarium id. Dico voluptua elaboraret ex eos, est te ceteros mandamus reprimique. Ex vel
                atqui
                accommodare concludaturque, sententiae vituperatoribus pri in. Aeque inciderint ad pri.</p>
            <p>Ne meis euripidis vix. No nostrud adolescens repudiandae mea. Sed enim quodsi cu. Cu docendi assentior
                mea, ut
                per elit luptatum probatus, doctus regione vocibus ad ius. Duo ad causae detraxit maluisset. Est an
                posse
                scripta adversarium, urbanitas ullamcorper sed at.</p>
        </section>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="button"
                [routerLink]="['/welcome/register/', clientcode]">Weiter zur
                Registrierung</button>
        </mat-card-actions>
    </mat-card-content>
    <mat-card-content *ngIf="userType === 'contact'">
        <section>
            <p>Lorem ipsum dolor sit amet, partem latine deserunt mei ea, nonumes blandit deterruisset qui te. Has
                minimum
                menandri no, an eum diam viderer philosophia, et nam reque iriure qualisque. Graece consequat
                signiferumque per
                no, mel elitr voluptaria in. In has elit timeam, qui doming nominavi gloriatur no, soluta primis
                voluptatibus eu
                vix. Purto dolores salutandi eam et.</p>
            <p>Atqui regione tractatos eu vix, et eum tantas deleniti, his esse deterruisset definitiones ex. Tale
                labore usu
                id, ex eam case duis elaboraret. Ei quo nobis sensibus, eu eius detraxit praesent mel, qui impetus
                quaeque
                invidunt ei. Ipsum sonet fabellas has ea. Ex quo viris elitr honestatis, ei nibh vidisse nam. Quis
                epicuri
                luptatum id nam. Vix in vituperata consectetuer, sea verear scripta vivendo ei.</p>
            <p>His omittam similique rationibus te, cu purto velit vel. Fierent officiis mel in. Et sea minimum
                salutatus. No
                affert appetere sea, ea mei prima omnesque vituperata. Eu eam movet impedit petentium, splendide
                rationibus cum
                id. Eu everti iracundia scribentur vix, no has posse instructior.</p>
        </section>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="button"
                [routerLink]="['/welcome/register/', clientcode]">Weiter zur
                Registrierung</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>