.bootstrap-wrapper {
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.card {
  margin-bottom: 0.5rem;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: #fafafa;
  }
}

.disabled {
  color: lightgrey;
}
