.action-alert-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.action-alert-text {
  letter-spacing: 1px;
  font-size: 12px;
}
