<mat-horizontal-stepper
  [linear]="true"
  #stepper
  style="position: relative;"
  (selectionChange)="onTabChanged($event)"
>
  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
  <mat-step
    [stepControl]="firstFormGroup"
    #firstStep
    [hasError]="firstFormGroup.invalid"
  >
    <ng-template matStepLabel>Persönliche Daten</ng-template>
    <p>Pflichtfelder sind mit * markiert</p>
    <form [formGroup]="firstFormGroup">
      <fieldset class="mb-3">
        <legend>Person</legend>
        <mat-form-field class="half-width">
          <input
            required
            matInput
            placeholder="Vorname"
            formControlName="firstName"
            type="text"
          />
          <mat-error>Bitte geben Sie einen Vornamen ein</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input
            matInput
            required
            placeholder="Nachname"
            formControlName="lastName"
            type="text"
          />
          <mat-error>Bitte geben Sie einen Nachnamen ein</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Geburtsdatum</mat-label>
          <input
            matInput
            required
            [max]="today"
            [matDatepicker]="dateOfBirthPicker"
            formControlName="dateOfBirth"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateOfBirthPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirthPicker></mat-datepicker>
          <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
        </mat-form-field>
      </fieldset>
      <fieldset class="mb-3">
        <legend>Kontaktmöglichkeiten</legend>
        <mat-form-field class="full-width">
          <input
            matInput
            required
            placeholder="E-Mail"
            formControlName="email"
            type="email"
          />
          <mat-error>Bitte geben Sie eine valide E-Mail-Adresse ein</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            maxlength="17"
            minlength="5"
            placeholder="Telefonnummer (Festnetz)"
            formControlName="phone"
            type="phone"
          />
          <mat-error>Bitte geben Sie eine gültige Telefonnummer ein</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            maxlength="17"
            minlength="5"
            placeholder="Telefonnummer (mobil)"
            formControlName="mobilephone"
            type="phone"
          />
          <mat-error
            >Bitte geben Sie eine gültige mobile Telefonnummer ein</mat-error
          >
        </mat-form-field>
      </fieldset>
      <fieldset class="mb-3">
        <legend>Adresse</legend>

        <mat-form-field style="width: 70%;">
          <input
            matInput
            required
            placeholder="Straße"
            formControlName="street"
            type="text"
          />
          <mat-error>Bitte geben Sie eine Straße ein</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%;">
          <input
            matInput
            placeholder="Hausnummer"
            maxlength="6"
            formControlName="houseNumber"
            type="text"
          />
          <mat-error>Bitte geben Sie eine Hausnummer ein</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 30%;">
          <input
            matInput
            required
            placeholder="Postleitzahl"
            minlength="5"
            maxlength="5"
            formControlName="zipCode"
            type="text"
          />
          <mat-error>Bitte geben Sie eine gültige Postleitzahl ein</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 70%;">
          <input
            matInput
            required
            placeholder="Ort"
            formControlName="city"
            type="text"
          />
          <mat-error>Bitte geben Sie einen gültigen Ort ein</mat-error>
        </mat-form-field>
      </fieldset>
      <div class="mt-3">
        <button
          mat-raised-button
          color="primary"
          [disabled]="firstStep.hasError"
          matStepperNext
        >
          <mat-icon>arrow_forward</mat-icon>
          Weiter
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step
    #secondStep
    [stepControl]="secondFormGroup"
    [hasError]="secondFormGroup.invalid"
  >
    <ng-template matStepLabel>Initialer Fragebogen</ng-template>
    <p>Pflichtfelder sind mit * markiert</p>
    <form [formGroup]="secondFormGroup" id="second-form">
      <div class="bool-question">
        <mat-label id="hasSymptoms"
          >Wurden bei Ihnen bisher charakteristische COVID-19 Symptome
          festgestellt? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="hasSymptomsLabel"
          class="example-radio-group"
          formControlName="hasSymptoms"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div
        class="bool-question"
        *ngIf="secondFormGroup.controls.hasSymptoms.value"
      >
        <mat-form-field class="full-width mb-3">
          <mat-label>Tag, an dem die ersten Symptome auftraten</mat-label>
          <input
            matInput
            required
            [max]="today"
            [matDatepicker]="picker"
            formControlName="dayOfFirstSymptoms"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
        </mat-form-field>
      </div>
      <div class="bool-question">
        <mat-label id="min15MinutesContactWithC19PatLabel"
          >Hatten Sie bereits Kontakt mit einer Person, bei der COVID-19
          nachgewiesen wurde? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="min15MinutesContactWithC19PatLabel"
          class="example-radio-group"
          formControlName="min15MinutesContactWithC19Pat"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="nursingActionOnC19PatLabel"
          >Haben Sie eine Person gepflegt / versorgt, bei der COVID-19
          festgestellt wurde? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="nursingActionOnC19PatLabel"
          class="example-radio-group"
          formControlName="nursingActionOnC19Pat"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="directContactWithLiquidsOfC19patLabel"
          >Hatten Sie direkten Kontakt zu Körperflüssigkeiten von einer Person,
          bei der COVID-19 festgestellt wurde? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="directContactWithLiquidsOfC19patLabel"
          class="example-radio-group"
          formControlName="directContactWithLiquidsOfC19pat"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="flightPassengerCloseRowC19PatLabel"
          >Saßen Sie auf einem Flug nahe an einer Person, bei der COVID-19
          festgestellt wurde? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="flightPassengerCloseRowC19PatLabel"
          class="example-radio-group"
          formControlName="flightPassengerCloseRowC19Pat"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="flightCrewMemberWithC19PatLabel"
          >Waren Sie Crewmitglied auf einem FLug mit einer Person an Board, bei
          der COVID-19 festgestellt wurde? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="flightCrewMemberWithC19PatLabel"
          class="example-radio-group"
          formControlName="flightCrewMemberWithC19Pat"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="belongToMedicalStaffLabel"
          >Sind Sie in einem medizinischen Beruf tätig? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="belongToMedicalStaffLabel"
          class="example-radio-group"
          formControlName="belongToMedicalStaff"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="belongToNursingStaffLabel"
          >Sind Sie in einem Pflegeberuf tätig? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="belongToNursingStaffLabel"
          class="example-radio-group"
          formControlName="belongToNursingStaff"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="belongToLaboratoryStaffLabel"
          >Sind Sie in einem Labor tätig? *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="belongToLaboratoryStaffLabel"
          class="example-radio-group"
          formControlName="belongToLaboratoryStaff"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-label id="familyMemberLabel"
          >Wurde bei einem Ihrer Familienmitglieder COVID-19 festgestellt?
          *</mat-label
        >
        <mat-radio-group
          required
          aria-labelledby="familyMemberLabel"
          class="example-radio-group"
          formControlName="familyMember"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            Ja
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Nein
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="bool-question">
        <mat-form-field class="full-width mt-3">
          <mat-label
            >Sonstiger Kontakt mit einer Person, bei der COVID-19 festgestellt
            wurde</mat-label
          >
          <textarea
            [mat-autosize]="true"
            [matAutosizeMinRows]="2"
            matInput
            formControlName="otherContactType"
            placeholder="Falls zutreffend, bitte beschreiben"
          ></textarea>
          <mat-hint align="start"
            ><strong>Falls zutreffend, bitte beschreiben</strong>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="mt-3">
        <button mat-raised-button matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>Zurück
        </button>
        <button
          class="ml-3"
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="secondStep.hasError"
        >
          <mat-icon>arrow_forward</mat-icon>Weiter
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step
    #thirdStep
    [stepControl]="thirdFormGroup"
    [hasError]="
      !(hasRetrospectiveContacts() || hasNoRetrospectiveContactsConfirmed())
    "
  >
    <ng-template matStepLabel>Kontaktpersonen</ng-template>
    <div class="info-text">
      <h2>Umgang mit Kontaktpersonen bestätigter COVID-19-Fälle</h2>
      <p>
        Kontaktpersonen sind Personen mit einem unten definierten Kontakt zu
        einem bestätigten Fall von COVID-19 ab dem 2. Tag vor Auftreten der
        ersten Symptome des Falles. Das Ende der infektiösen Periode ist
        momentan nicht sicher anzugeben.
      </p>
    </div>
    <div class="info-text">
      <h2>
        Kontaktpersonen der Kategorie I mit engem Kontakt ("höheres"
        Infektionsrisiko)
      </h2>
      <ul>
        <li>
          Personen mit kumulativ mindestens 15-minütigem Gesichts-
          ("face-to-face") Kontakt, z.B. im Rahmen eines Gesprächs. Dazu gehören
          z.B. Personen aus Lebensgemeinschaften im selben Haushalt.
        </li>
        <li>
          Personen mit direktem Kontakt zu Sekreten oder Körperflüssigkeiten,
          insbesondere zu respiratorischen Sekreten eines bestätigten
          COVID-19-Falls, wie z.B. Küssen, Kontakt zu Erbrochenem, Mund-zu-Mund
          Beatmung, Anhusten, Anniesen, etc.
        </li>
        <li>Personen, die aerosolbildenden Maßnahmen ausgesetzt sind</li>
        <li>
          Medizinisches Personal mit Kontakt zum bestätigten COVID-19-Fall im
          Rahmen von Pflege oder medizinischer Untersuchung (≤ 2m), ohne
          verwendete Schutzausrüstung.
        </li>
      </ul>
    </div>
    <form [formGroup]="thirdFormGroup">
      <fieldset
        *ngFor="let date of datesForRetrospectiveContacts"
        [class]="hasNoRetrospectiveContactsConfirmed() ? 'hidden' : ''"
      >
        <legend>Kontaktpersonen vom {{ date | date: "d.M.y" }}</legend>

        <app-multiple-autocomplete
          [control]="this.thirdFormGroup.controls[date.toLocaleDateString()]"
          [selectableItems]="contactPersons"
          [placeholder]="
            'Kontakte mit anderen Menschen am ' + date.toLocaleDateString()
          "
          [nameProperties]="['firstName', 'lastName']"
          (added)="onContactAdded(date, $event)"
          (removed)="onContactRemoved(date, $event)"
        >
        </app-multiple-autocomplete>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
          "
        >
          <span class="text-muted">Kontaktperson fehlt in der Liste ?</span>
          <button
            mat-button
            color="primary"
            type="button"
            (click)="openContactDialog()"
            class="p-2 mr-0"
            style="line-height: normal;"
          >
            Hier anlegen
          </button>
        </div>
      </fieldset>
      <mat-checkbox
        [class]="hasRetrospectiveContacts() ? 'hidden' : ''"
        name="noRetrospectiveContactsConfirmed"
        formControlName="noRetrospectiveContactsConfirmed"
        (change)="onCheckboxChanged($event)"
        >Ich bestätige, im fraglichen Zeitraum keinen relevanten Kontakt zu
        anderen Personen gehabt zu haben.</mat-checkbox
      >
      <div class="mt-3">
        <button mat-raised-button matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>Zurück
        </button>
        <button
          mat-raised-button
          color="primary"
          class="ml-3"
          [routerLink]="['/diary']"
          [disabled]="thirdStep.hasError"
        >
          <mat-icon>check</mat-icon>Erfassung abschließen und zum Tagebuch
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
