<button type="button" mat-icon-button color="primary" routerLink="new">
  <i class="material-icons">add</i>
  Neuen Eintrag anlegen
</button>
<app-alert
  *ngIf="diaryEntries.size === 0"
  message="Noch keine Einträge vorhanden"
></app-alert>
<mat-card *ngIf="diaryEntries.size > 0">
  <mat-card-content>
    <ng-container *ngFor="let group of diaryEntries | keyvalue: originalOrder">
      <app-diary-list-item
        [date]="group.key"
        [entries]="group.value"
      ></app-diary-list-item>
    </ng-container>
  </mat-card-content>
</mat-card>
