@import '../../../../../../../libs/shared/util/src/lib/styles/variables';

.row {
  padding: 1rem;
  align-items: center;
}

.mat-divider.mat-divider-horizontal {
  position: relative;
}

.line {
  @media screen and (max-width: $break-lg) {
    margin-top: 1rem;
  }
}
