<div class="questionaire-form-container" [formGroup]="formGroup">
  <div class="bool-question">
    <mat-label>Haben Sie bei sich bereits Symptome festgestellt?*</mat-label>
    <mat-radio-group
      required
      aria-labelledby="hasSymptomsLabel"
      class="example-radio-group"
      formControlName="hasSymptoms"
    >
      <mat-radio-button class="example-radio-button" [value]="true"
        >Ja</mat-radio-button
      >
      <mat-radio-button class="example-radio-button" [value]="false"
        >Nein</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div class="question sub-question" *ngIf="formGroup.get('hasSymptoms').value">
    <mat-label>Wann haben Sie die ersten Symptome festgestellt?*</mat-label>
    <mat-form-field class="full-width">
      <input
        matInput
        required
        [max]="today"
        [matDatepicker]="firstSymptomsDatePicker"
        formControlName="dayOfFirstSymptoms"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="firstSymptomsDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #firstSymptomsDatePicker></mat-datepicker>
      <mat-error>Bitte geben Sie ein gültiges Datum ein</mat-error>
    </mat-form-field>
  </div>
  <div class="question sub-question" *ngIf="formGroup.get('hasSymptoms').value">
    <mat-label>Welche Symptome haben Sie bei sich festgestellt?*</mat-label>
    <app-multiple-autocomplete
      class="full-width"
      [control]="this.formGroup.controls.symptoms"
      [selectableItems]="symptoms"
      [nameProperties]="['name']"
      name="characteristicSymptoms"
    ></app-multiple-autocomplete>
    <mat-error *ngIf="formGroup.controls.symptoms.hasError('minLengthArray')">
      Bitte wählen Sie mindestens ein Symptom
    </mat-error>
  </div>
  <div class="question">
    <mat-label>Bitte geben Sie Ihren behandelnden Hausarzt an.</mat-label>
    <mat-form-field class="full-width">
      <input matInput formControlName="familyDoctor" />
      <mat-error
        *ngIf="formGroup.controls.familyDoctor.hasError('trimmedPattern')"
      >
        {{
          formGroup.controls.familyDoctor.getError("trimmedPattern")
            .errorMessage
        }}</mat-error
      ><mat-error *ngIf="formGroup.controls.familyDoctor.hasError('required')"
        >Bitte geben Sie Ihren behandelnden Hausarzt an</mat-error
      >
    </mat-form-field>
  </div>
  <div class="question">
    <mat-label
      >Nennen Sie uns bitte den (vermuteten) Ort der Ansteckung:</mat-label
    >
    <mat-form-field class="full-width">
      <input matInput formControlName="guessedOriginOfInfection" />
      <mat-error
        *ngIf="
          formGroup.controls.guessedOriginOfInfection.hasError('trimmedPattern')
        "
        >{{
          formGroup.controls.guessedOriginOfInfection.getError("trimmedPattern")
            .errorMessage
        }}</mat-error
      ><mat-error
        *ngIf="formGroup.controls.guessedOriginOfInfection.hasError('required')"
        >Bitte geben Sie den (vermuteten) Ort der Ansteckung an</mat-error
      >
    </mat-form-field>
  </div>
  <div class="bool-question">
    <mat-label style="display: flex;">
      Haben Sie eine oder mehrere relevante Vorerkrankungen?*
      <mat-icon class="ml-1" style="cursor: pointer;" [matTooltip]="tooltip"
        >info</mat-icon
      >
    </mat-label>
    <mat-radio-group required formControlName="hasPreExistingConditions">
      <mat-radio-button class="example-radio-button" [value]="true"
        >Ja</mat-radio-button
      >
      <mat-radio-button class="example-radio-button" [value]="false"
        >Nein</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div
    class="question sub-question"
    *ngIf="formGroup.get('hasPreExistingConditions').value"
  >
    <mat-label>Welche Vorerkrankungen haben Sie?*</mat-label>
    <mat-form-field class="full-width">
      <input
        matInput
        required
        formControlName="hasPreExistingConditionsDescription"
      />
      <mat-error
        *ngIf="
          formGroup.controls.hasPreExistingConditionsDescription.hasError(
            'trimmedPattern'
          )
        "
        >{{
          formGroup.controls.hasPreExistingConditionsDescription.getError(
            "trimmedPattern"
          ).errorMessage
        }}</mat-error
      ><mat-error
        *ngIf="
          formGroup.controls.hasPreExistingConditionsDescription.hasError(
            'required'
          )
        "
        >Bitte geben Sie Ihre Vorerkrankungen an</mat-error
      >
    </mat-form-field>
  </div>
  <div class="bool-question">
    <mat-label>
      Arbeiten Sie im medizinischen Umfeld oder in der Pflege?*
    </mat-label>
    <mat-radio-group required formControlName="belongToMedicalStaff">
      <mat-radio-button class="example-radio-button" [value]="true"
        >Ja</mat-radio-button
      >
      <mat-radio-button class="example-radio-button" [value]="false"
        >Nein</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div
    class="question sub-question"
    *ngIf="formGroup.get('belongToMedicalStaff').value"
  >
    <mat-label>Wo arbeiten Sie?*</mat-label>
    <mat-form-field class="full-width">
      <input
        matInput
        required
        formControlName="belongToMedicalStaffDescription"
      /><mat-error
        *ngIf="
          formGroup.controls.belongToMedicalStaffDescription.hasError(
            'trimmedPattern'
          )
        "
        >{{
          formGroup.controls.belongToMedicalStaffDescription.getError(
            "trimmedPattern"
          ).errorMessage
        }}</mat-error
      ><mat-error
        *ngIf="
          formGroup.controls.belongToMedicalStaffDescription.hasError(
            'required'
          )
        "
        >Bitte geben Sie an, wo Sie arbeiten</mat-error
      >
    </mat-form-field>
  </div>
  <div class="bool-question">
    <mat-label>
      Haben Sie Kontakt zu Risikopersonen?*
    </mat-label>
    <mat-radio-group required formControlName="hasContactToVulnerablePeople">
      <mat-radio-button class="example-radio-button" [value]="true"
        >Ja</mat-radio-button
      >
      <mat-radio-button class="example-radio-button" [value]="false"
        >Nein</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div
    class="question sub-question"
    *ngIf="formGroup.get('hasContactToVulnerablePeople').value"
  >
    <mat-label>Wie und zu wem haben Sie Kontakt?*</mat-label>
    <mat-form-field class="full-width">
      <input
        matInput
        required
        formControlName="hasContactToVulnerablePeopleDescription"
      /><mat-error
        *ngIf="
          formGroup.controls.hasContactToVulnerablePeopleDescription.hasError(
            'trimmedPattern'
          )
        "
        >{{
          formGroup.controls.hasContactToVulnerablePeopleDescription.getError(
            "trimmedPattern"
          ).errorMessage
        }}</mat-error
      ><mat-error
        *ngIf="
          formGroup.controls.hasContactToVulnerablePeopleDescription.hasError(
            'required'
          )
        "
        >Bitte geben Sie an, wie und zu wem Sie Kontakt haben</mat-error
      >
    </mat-form-field>
  </div>
</div>
