<mat-card>
  <mat-form-field class="form__input--full-width" appearance="outline">
    <mat-label>Suchen</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Name, Vorname, Telefon oder PLZ"
    />
  </mat-form-field>
</mat-card>

<div class="container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="surename">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Nachname</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Nachname</span
        ><span class="value-span">{{ element.surename }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Vorname</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Vorname</span
        ><span class="value-span">{{ element.firstname }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Telefon</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Telefon</span
        ><span class="value-span">{{ element.phone }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="zipCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PLZ</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">PLZ</span
        ><span class="value-span">{{ element.zipCode }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="infected">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Infiziert</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Infiziert</span>
        <mat-icon *ngIf="element.infected === true">done</mat-icon>
        <mat-icon *ngIf="element.infected === false">close</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="monitoringStatus">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Status</span>
        <span
          class="value-span with-icon"
          *ngIf="element.monitoringStatus.includes('OK')"
          style="color: green;"
          ><mat-icon class="monitoring-icon">done</mat-icon>
          {{ element.monitoringMessage }}</span
        >
        <span
          class="value-span with-icon"
          *ngIf="element.monitoringStatus.includes('CHECK_HEALTH')"
          style="color: orange;"
          ><mat-icon class="monitoring-icon">healing</mat-icon>
          {{ element.monitoringMessage }}</span
        >
        <span
          class="value-span with-icon"
          *ngIf="element.monitoringStatus.includes('END_OF_QUARANTINE')"
          style="color: green;"
          ><mat-icon class="monitoring-icon">no_meeting_room</mat-icon>
          {{ element.monitoringMessage }}</span
        >
        <span
          class="value-span with-icon"
          *ngIf="element.monitoringStatus.includes('OVERDUE')"
          style="color: red;"
          ><mat-icon class="monitoring-icon">close</mat-icon>
          {{ element.monitoringMessage }}</span
        >
      </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-description">
            <h3>Einträge</h3>
            <table style="width: 100%;">
              <tr>
                <td>Datum</td>
                <td>Uhrzeit</td>
                <td>Körpertemperatur</td>
                <td>Symptome</td>
              </tr>
              <tr *ngFor="let entry of element.diaryEntires; let i = index">
                <td>{{ entry.dateTime | date: "d.M.y" }}</td>
                <td>{{ entry.dateTime | date: "HH:mm" }}</td>
                <td>{{ entry.bodyTemperature }}</td>
                <td>{{ toStringSymptoms(entry) }}</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></mat-row>
    <!-- <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr> -->
  </mat-table>
</div>
