<div class="entry-container">
  <span class="mr-3 label">{{
    slot === "morning" ? "Morgens" : "Abends"
  }}</span>
  <button
    *ngIf="canCreate"
    matTooltip="Eintrag anlegen"
    matTooltipPosition="after"
    mat-mini-fab
    color="warn"
    [routerLink]="['new']"
    [state]="{ date: date, slot: slot }"
    aria-label="Eintrag fehlt noch -
 bitte nachtragen!"
  >
    <mat-icon>warning</mat-icon>
  </button>
  <span *ngIf="canCreate; else cannot_create" class="ml-3 text-muted"
    >Eintrag fehlt noch - bitte nachtragen!</span
  >
  <ng-template #cannot_create
    ><span class="text-muted">Kein Eintrag vorhanden</span
    ><mat-icon
      style="cursor: pointer; opacity: 0.8;"
      matTooltip="Text wird noch definiert"
      matTooltipPosition="after"
      class="ml-1 text-muted"
    >
      info</mat-icon
    ></ng-template
  >
</div>
