
<mat-card class="form__card--small form__card--animated">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Name</ng-template>
        <mat-form-field appearance="outline" class="form__input--full-width">
          <mat-label>Vorname</mat-label>
          <input id="firstname-input" matInput placeholder="Vorname" formControlName="firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="form__input--full-width">
          <mat-label>Nachanme</mat-label>
          <input id="surename-input" matInput placeholder="Nachname" formControlName="surname" required>
        </mat-form-field>
        <mat-card-actions>
          <button id="s1-next-btn" mat-button mat-raised-button color="primary" matStepperNext [disabled]="nameFormGroup.invalid">Weiter</button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step [stepControl]="phoneZipFormGroup">
      <form [formGroup]="phoneZipFormGroup">
        <ng-template matStepLabel>Kontakt</ng-template>
        <mat-form-field appearance="outline" class="form__input--full-width">
          <mat-label>Telefonnummer</mat-label>
          <input id="phone-input" matInput formControlName="phone" placeholder="Telefonnummer" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="form__input--full-width">
          <mat-label>Postleitzahl</mat-label>
          <input id="zip-code-input" matInput formControlName="zipCode" placeholder="Postleitzahl" required>
        </mat-form-field>
        <mat-card-actions>
          <button id="s2-back-btn" mat-button matStepperPrevious mat-raised-button>Zurück</button>
          <button id="s2-next-btn" mat-button mat-raised-button color="primary" matStepperNext [disabled]="phoneZipFormGroup.invalid">Weiter</button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Einrichtung abgeschlossen</ng-template>
      <p>Möchten Sie sich mit folgenden Daten registrieren?</p>
      <table border="0">
        <tr><td>Vorname</td><td width="10"></td><td>{{nameFormGroup.controls['firstname'].value}}</td></tr>
        <tr><td>Nachname</td><td width="10"></td><td>{{nameFormGroup.controls['surname'].value}}</td></tr>
        <tr><td>Telefon</td><td width="10"></td><td>{{phoneZipFormGroup.controls['phone'].value}}</td></tr>
        <tr><td>PLZ</td><td width="10"></td><td>{{phoneZipFormGroup.controls['zipCode'].value}}</td></tr>
      </table>
      <mat-card-actions>
        <button mat-button mat-raised-button matStepperPrevious>Zurück</button>
        <button id="s3-next-btn" mat-button mat-raised-button color="primary" (click)="saveUser()">Weiter</button>
      </mat-card-actions>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
