<mat-card
  class="form__card--small form__card--animated"
  style="margin-bottom: 1rem; text-align: center; color: red;"
>
  <span style="margin-left: 1rem;">
    Im Falle eines medizinischen Notfalls wählen Sie bitte umgehend den Notruf
  </span>
</mat-card>

<mat-card
  class="form__card--small form__card--animated"
  style="margin-bottom: 1rem; text-align: center;"
  id="info-card"
>
  <div class="marquee">
    <p class="info-text">
      Dieser Prototyp dient lediglich zu Demonstrationszwecken und ist NICHT an
      ein Gesundheitsamt angebunden! Bitte KEINE ECHTEN, KRITISCHEN DATEN ohne
      Aufforderung durch die zuständigen Behörden eingeben!
    </p>
  </div>
</mat-card>

<h2 class="text-center">Landing page will go here</h2>
