<div class="container">
  <img
    id="logo"
    src="../../../assets/images/quarano_SW_RGB.png"
    [routerLink]="['/']"
    height="50px"
    class="clickable"
  />

  <nav class="ml-3" *ngIf="isLoggedIn$ | async">
    <a
      routerLink="/tenant-admin"
      routerLinkActive="active"
      id="tenant-admin-login-link"
      *appIsHealthDepartmentUser
      >Für Behörden</a
    >
    <ng-container *appIsEnrolledClient
      ><a routerLink="/diary" routerLinkActive="active">Tagebuch</a>
      <a routerLink="/contacts" routerLinkActive="active">Kontaktpersonen</a>
    </ng-container>
  </nav>
</div>
