<mat-card class="form__card--small form__card--animated"
  ><mat-card-header
    ><mat-card-title><h1>Kontakt</h1></mat-card-title></mat-card-header
  ><mat-card-content>
    <p>
      quarano lebt von Feedback, Ihren Erfahrungen und auch offenen Fragen.
      Sprechen Sie uns gerne an!
    </p>
    <ul>
      <li>E-Mail: <a href="mailto:info@quarano.de">info@quarano.de</a></li>
      <li>Telefon: <a href="tel:+4917620647019">+49 176 20647019</a></li>
    </ul>
  </mat-card-content></mat-card
>
