<mat-card class="form__card--small form__card--animated" *ngIf="!(stepperStarted | async)">
  <h2>Neuer Benutzer</h2>
  <mat-card-content>
    <p>In den folgenden Schritten können Sie Ihre Daten eingeben, um anschließend hier Ihre Symptome und Kontaktpersonen
      speichern zu können.</p>
  </mat-card-content>
  <mat-card-actions>
    <button id="next-btn" mat-button mat-raised-button color="primary" (click)="stepperStarted.next(true)">Weiter</button>
  </mat-card-actions>
</mat-card>
<app-create-user-details *ngIf="(stepperStarted | async) && !(client$$ | async)" (client)="client$$.next($event)"></app-create-user-details>
<app-create-user-first-query *ngIf="(stepperStarted | async) && (client$$ | async) && !(firstQuery$$ | async)"
                             (firstQueryEventEmitter)="firstQuery$$.next($event)"></app-create-user-first-query>

<mat-card class="form__card--small form__card--animated" *ngIf="(client$$ | async) && (firstQuery$$ | async) && !registerStarted">
  <h2>Registrierung</h2>
  <mat-card-content >
    <p>Möchten Sie die Registrierung abschließen?</p>
  </mat-card-content>
  <mat-card-actions>
    <button id="finish-reg-btn" mat-button mat-raised-button color="primary" (click)="registerClient()">Registrierung abschließen</button>
  </mat-card-actions>
</mat-card>

<mat-card class="form__card--small form__card--animated" *ngIf="registerStarted">
  <h2>Registrierung</h2>
  <mat-card-content *ngIf="!clientCode">
    <p>Ihre Registrierung wird verarbeitet. Bitte warten Sie einen Moment.</p>
  </mat-card-content>
  <mat-card-content *ngIf="clientCode">
    <p>Ihre Registrierung war erfolgreich. Mit dem folgenden Code können Sie sich in Zukunft bei der App registrieren.</p>
    <p>Bitte notieren Sie sich den folgenden Code und verwahren Sie ihn sicher.</p>
    <mat-form-field class="form__input--full-width">
      <input matInput readonly [value]="clientCode">
    </mat-form-field>
    <br>
    <button [cdkCopyToClipboard]="clientCode" mat-button>Code in die Zwischenablage kopieren</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" *ngIf="clientCode" (click)="navigateToDiary()">Zum Symptomtagebuch</button>
  </mat-card-actions>
</mat-card>
