<fieldset class="mb-3">
  <legend>Symptome</legend>
  <div *ngIf="questionnaire.hasSymptoms; else noSymptoms" class="">
    <div class="item col">
      <div class="label">Datum der ersten Symptome:</div>
      <div class="value">{{questionnaire.dayOfFirstSymptoms}}</div>
    </div>
    <div class="item col">
      <div class="label">Festgestellte Symptome:</div>
      <ul class="value">
        <li *ngFor="let symptom of symptoms">
          {{symptom.name}}
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noSymptoms>
    <div class="no-symptoms">Keine Symptome</div>
  </ng-template>
</fieldset>
<fieldset>
  <legend>Hausarzt</legend>
  <div>{{questionnaire.familyDoctor?questionnaire.familyDoctor:'Nicht angegeben'}}</div>
</fieldset>
<fieldset>
  <legend>Vermuteter Ort der Ansteckung</legend>
  <div>{{questionnaire.guessedOriginOfInfection?questionnaire.guessedOriginOfInfection:'Nicht angegeben'}}</div>
</fieldset>
<fieldset>
  <legend>Vorerkrankungen</legend>
  <div>{{questionnaire.hasPreExistingConditions?questionnaire.hasPreExistingConditionsDescription:'Nicht bekannt'}}</div>
</fieldset>
<fieldset>
  <legend>Arbeit in Pflege oder Medizinischem Umfeld?</legend>
  <div>{{questionnaire.belongToMedicalStaff?questionnaire.belongToMedicalStaffDescription:'Nein'}}</div>
</fieldset>
<fieldset>
  <legend>Kontakt zu Risikopersonen</legend>
  <div>{{questionnaire.hasContactToVulnerablePeople?questionnaire.hasContactToVulnerablePeopleDescription:'Nein'}}</div>
</fieldset>
