.contact-fields {
  display: flex;
  flex-direction: column;


  margin: 30px 20px 40px;

  .contact-item {
    display: flex;
    & + .contact-item {
      margin-top: 10px;
    }

    h2 {
      margin-bottom: 0;
    }

    .label {
      font-weight: bold;
      width: 160px;
    }
  }


}
.notice {
  background: #eee;
  padding: 20px;
}
p {
  max-width: 750px;
  .important {
    font-weight: bold;
  }
}

button {
  margin: 8px 0;
}
