.alert {
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.25rem;
  color: #383d41;
  background-color: #e2e3e5;
  border: 1px solid #d6d8db;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}
