<div class="container">
  <mat-card class="form__card--small">
    <mat-card-header>
      <mat-card-title>Nochmal scharf nachdenken...</mat-card-title>
    </mat-card-header>
    <img width="100%" src="../../../../assets/images/idea.png" />
    <mat-card-content style="margin-top: 16px;">
      Hatten Sie vielleicht noch weitere relevante Kontakte in der
      Vergangenheit, die Sie bisher noch nicht eingegeben haben?
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button">
        Jetzt nachtragen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
