<div class="container">
  <header>
    <qro-header-left style="height: 100%; flex-grow: 1;"></qro-header-left>
    <qro-header-right style="height: 100%;"></qro-header-right>
  </header>
  <mat-progress-bar
    mode="query"
    *ngIf="progressBarActive"
    class="mb-3"
  ></mat-progress-bar>
  <div class="mb-3" style="height: 4px;" *ngIf="!progressBarActive"></div>
  <main>
    <article><router-outlet></router-outlet></article>
    <nav></nav>
    <aside><qro-aside></qro-aside></aside>
  </main>
  <footer><qro-footer></qro-footer></footer>
</div>
