fieldset {
  margin-top: 15px;
}
.button-area {
  display: flex;
  justify-content: flex-end;
  padding-right: 3px;
}

.no-comments {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: italic;

  margin-top: 20px;

  background: #eee;
  padding: 35px 20px;
}

.comment-area {

  .comment {
    background: #eee;
    padding: 15px 20px 20px 20px;
    margin: 20px 0;

    .comment-headline {
      display: flex;
      justify-content: space-between;

      padding-bottom: 5px;
      border-bottom: 1px solid #777;


      .date {
        font-style: italic;
      }
    }

    .comment-body {

      margin: 20px 0;
    }
  }
}
