<div class="container" *ngIf="userService.isLoggedIn$ | async">
  <ng-container *ngIf="!userService.isHealthDepartmentUser">
    <ng-container *ngIf="(clientStore.enrollmentStatus$ | async)?.complete">
      <button
        *ngIf="healthDepartment$ | async as healthDepartment"
        mat-stroked-button
        data-cy="contact-button"
        class="contact-button"
        (click)="showContact(healthDepartment)"
      >
        {{ 'HEADER_RIGHT.KONTAKT_ZUM_AMT' | translate }}
      </button>
    </ng-container>
  </ng-container>

  <button data-cy="profile-user-button" mat-button [matMenuTriggerFor]="profilemenu">
    <span>{{ currentUserName$ | async }} </span>
    <mat-icon style="color: white;">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #profilemenu="matMenu">
    <ng-container *ngIf="!userService.isHealthDepartmentUser && (clientStore.enrollmentStatus$ | async)?.complete">
      <button data-cy="profile-button" mat-menu-item [routerLink]="['/client/profile']">
        <mat-icon>person</mat-icon> {{ 'HEADER_RIGHT.BENUTZERPROFIL' | translate }}
      </button>
    </ng-container>
    <button data-cy="change-password-button" mat-menu-item [routerLink]="['/auth/change-password']">
      <mat-icon>vpn_key</mat-icon> {{ 'HEADER_RIGHT.PASSWORT_ÄNDERN' | translate }}
    </button>
    <ng-container *ngIf="!userService.isHealthDepartmentUser">
      <mat-expansion-panel [expanded]="true" class="language-panel" [hideToggle]="true" [disabled]="true">
        <mat-expansion-panel-header *ngIf="selectedLanguage$ | async as selectedLanguage">
          <mat-panel-title>
            <i [class]="'fa-fw flag:' + selectedLanguage.flagIconKey"></i>
          </mat-panel-title>
          <mat-panel-description>
            {{ selectedLanguage.name }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul class="language-list">
          <li *ngFor="let lang of languages$ | async">
            <i [class]="'fa-fw flag:' + lang.flagIconKey"></i> {{ lang.name }}
          </li>
        </ul>
      </mat-expansion-panel>
    </ng-container>
    <button data-cy="logout-button" id="tenant-admin-logout" mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> {{ 'HEADER_RIGHT.ABMELDEN' | translate }}
    </button>
  </mat-menu>
</div>
