@import '../../../../../../libs/shared/ui-styles/src/lib/variables';

.container,
.mobile-container {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;

  button {
    &.contact-button {
      text-decoration: none;
      color: white;
      padding: 6px 12px;
      border-radius: 5px;
      font-size: large;
      margin-right: 5px;
      background-color: rgba(255, 255, 255, 0.2);
      max-height: 32px;
      line-height: 18px;
    }

    span {
      color: white;
      font-size: large;
    }
  }
}

.language-icon {
  margin-right: 19px;
  vertical-align: middle;
}

@media all and (max-width: $break-lg) {
  .container {
    display: none;
  }
}

@media all and (min-width: 993px) {
  .mobile-container {
    display: none;
  }
}
