:host {
  .header {
    position: relative;
    button[mat-dialog-close] {
      position: absolute;
      top: -16px;
      right: -16px;
    }
  }
  mat-dialog-actions {
    button {
      margin-left: 16px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
