<div style="display: flex; justify-content: space-between;">
  <button class="mb-3" mat-raised-button color="primary">
    <mat-icon>add</mat-icon>Neuen Fall anlegen
  </button>
  <button class="mb-3" mat-button>
    <mat-icon>get_app</mat-icon>csv-Export speichern
  </button>
</div>

<mat-form-field appearance="outline" class="full-width">
  <input
    matInput
    type="text"
    placeholder="Suchen..."
    (keyup)="updateFilter($event)"
  />
</mat-form-field>

<ngx-datatable
  #table
  class="material fullscreen fixed-header"
  [count]="cases.length"
  [headerHeight]="50"
  rowHeight="auto"
  [rows]="rows"
  selectionType="single"
  [messages]="{
    emptyMessage: 'Keine Daten zum Anzeigen vorhanden',
    selectedMessage: 'ausgewählt',
    totalMessage: 'insgesamt'
  }"
  [loadingIndicator]="loading"
  [footerHeight]="50"
  (select)="onSelect($event)"
>
  <ngx-datatable-column
    prop="email"
    name="E-Mail"
    width="80"
    [sortable]="false"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a
        *ngIf="value"
        mat-icon-button
        href="mailto:{{ value }}"
        [matTooltip]="'E-Mail an ' + value"
        matTooltipPosition="right"
      >
        <mat-icon>mail_outline</mat-icon>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="phone"
    name="Telefon"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="lastName"
    name="Nachname"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="firstName"
    name="Vorname"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="zipCode"
    name="PLZ"
    width="80"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="type"
    name="Typ"
    width="80"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="dateOfBirth"
    name="Geburtsdatum"
    width="110"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="quarantineEnd"
    name="Quarantäne Ende"
    width="130"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="status"
    name="Status"
    width="190"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
