@import "../../../../styles/variables";

::ng-deep {
  .datatable-row-center.datatable-row-group.ng-star-inserted {
    display: flex !important;
    align-items: center !important;
  }

  .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
  .ngx-datatable.material:not(.cell-selection)
    .datatable-body-row:hover
    .datatable-row-group {
    background-color: white;
  }

  .ngx-datatable.material .datatable-body .progress-linear .container {
    background-color: lighten($primary-color, 20%);
  }

  .ngx-datatable.material .datatable-body .progress-linear .container .bar {
    background-color: $primary-color;
  }
}

.mail-link:hover,
.mail-link:focus,
.mail-link:active {
  background-color: #f4f4f4;
  cursor: pointer;
}
