<div style="display: flex; justify-content: space-between;">
  <button
    class="mb-3"
    mat-raised-button
    color="primary"
    [routerLink]="['/tenant-admin/client']"
  >
    <mat-icon>add</mat-icon>Neuen Fall anlegen
  </button>
  <button class="mb-3" mat-button>
    <mat-icon>get_app</mat-icon>csv-Export speichern
  </button>
</div>

<mat-form-field appearance="outline" class="full-width">
  <input
    matInput
    type="text"
    placeholder="Suchen..."
    (keyup)="updateFilter($event)"
  />
</mat-form-field>

<ngx-datatable
  #table
  class="material fullscreen fixed-header"
  [count]="cases.length"
  [headerHeight]="50"
  rowHeight="auto"
  [rows]="rows"
  [messages]="{
    emptyMessage: 'Keine Daten zum Anzeigen vorhanden',
    selectedMessage: 'ausgewählt',
    totalMessage: 'Fälle'
  }"
  [loadingIndicator]="loading"
  [footerHeight]="50"
  [selectionType]="selectionType"
  (select)="onSelect($event)"
>
  <ngx-datatable-column
    prop="status"
    name="Status"
    width="190"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="lastName"
    name="Nachname"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="firstName"
    name="Vorname"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="dateOfBirth"
    name="Geburtsdatum"
    width="110"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="type"
    name="Typ"
    width="80"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>



  <ngx-datatable-column
    prop="quarantineEnd"
    name="Quarantäne bis"
    width="130"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="zipCode"
    name="PLZ"
    width="80"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="phone"
    name="Telefon"
    [resizeable]="true"
    [sortable]="true"
    [draggable]="true"
    [canAutoResize]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="email"
    name="E-Mail"
    width="80"
    [sortable]="false"
  >
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button
        *ngIf="value"
        class="mail-link"
        mat-icon-button
        [matTooltip]="'E-Mail an ' + value"
        matTooltipPosition="right"
        (click)="sendMail($event, value)"
      >
        <mat-icon>mail_outline</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
