@import "../../../../styles/variables";

::ng-deep {
  .ngx-datatable.material.single-selection .datatable-body-row.active,
  .ngx-datatable.material.single-selection
    .datatable-body-row.active
    .datatable-row-group,
  .ngx-datatable.material.multi-selection .datatable-body-row.active,
  .ngx-datatable.material.multi-selection
    .datatable-body-row.active
    .datatable-row-group,
  .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
  .ngx-datatable.material.multi-click-selection
    .datatable-body-row.active
    .datatable-row-group {
    background-color: lighten($primary-color, 20%) !important;
  }

  .datatable-row-center.datatable-row-group.ng-star-inserted {
    display: flex !important;
    align-items: center !important;
  }

  .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
  .ngx-datatable.material:not(.cell-selection)
    .datatable-body-row:hover
    .datatable-row-group {
    cursor: pointer;
  }

  .ngx-datatable.material .datatable-body .progress-linear .container {
    background-color: lighten($primary-color, 20%);
  }

  .ngx-datatable.material .datatable-body .progress-linear .container .bar {
    background-color: $primary-color;
  }
}
