mat-form-field {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.header-image {
  background-image: url("../../../assets/diary.png");
  background-size: cover;
}
