<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-card class="form__card--small form__card--animated">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{
        isNew ? "Neuen Tagebuch-Eintrag anlegen" : "Tagebuch-Eintrag bearbeiten"
      }}</mat-card-title>
      <mat-card-subtitle *ngIf="!isReadonly"
        >Pflichteingaben sind mit * markiert</mat-card-subtitle
      >
      <mat-card-subtitle *ngIf="isReadonly"
        >Dieser Eintrag wurde bereits ans Gesundheitsamt übertragen und kann
        deshalb nicht mehr bearbeitet werden</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Datum des Eintrags"
          formControlName="dateTime"
          required
          [max]="today"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="true"
          [showSeconds]="false"
          [stepMinute]="5"
        >
        </ngx-mat-datetime-picker>
        <mat-error>Bitte geben Sie das Datum des Eintrags ein</mat-error>
      </mat-form-field>
      <div class="radio-group">
        <label class="mb-3">Körpertemperatur in °C *</label>
        <div style="display: flex; flex-direction: row; align-items: center;">
          <span class="text-small mr-2">35,0</span>
          <mat-slider
            #slider
            style="flex-grow: 1;"
            color="primary"
            thumbLabel
            step="0.1"
            min="35.0"
            max="44.0"
            tickInterval="10.0"
            [displayWith]="formatLabel"
            formControlName="bodyTemperature"
            required
          ></mat-slider>
          <span class="text-small ml-2">44,0</span>
        </div>
        <mat-error *ngIf="!slider.value || slider.value === 35.0"
          >Bitte geben Sie Ihre Körpertemperatur ein</mat-error
        >
      </div>
      <div class="radio-group">
        <label class="mb-3">Krankheitsspezifische Symptome</label>
        <mat-slide-toggle
          color="primary"
          class="radio-button"
          *ngFor="let symptom of characteristicSymptoms"
          [checked]="isCharacteristicSymptomSelected(symptom)"
          (change)="onSlideToggleChanged($event, symptom.id)"
          [disabled]="isReadonly"
          >{{ symptom.name }}</mat-slide-toggle
        >
      </div>
      <app-multiple-autocomplete
        [control]="this.formGroup.controls.nonCharacteristicSymptoms"
        [selectableItems]="nonCharacteristicSymptoms"
        placeholder="Sonstige Symptome"
        [nameProperties]="['name']"
        name="nonCharacteristicSymptoms"
      ></app-multiple-autocomplete>
      <app-multiple-autocomplete
        [control]="this.formGroup.controls.contactPersons"
        [selectableItems]="contactPersons"
        placeholder="Kontakte mit anderen Menschen seit letztem Eintrag"
        [nameProperties]="['firstname', 'surename']"
        name="contactPersons"
      >
      </app-multiple-autocomplete>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        "
      >
        <span class="text-muted">Kontaktperson fehlt in der Liste ?</span>
        <button
          mat-button
          color="primary"
          type="button"
          (click)="openContactDialog()"
          class="p-2 mr-0"
          style="line-height: normal;"
        >
          Hier anlegen
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="!isReadonly"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid || formGroup.pristine"
      >
        Speichern
      </button>
      <button
        type="button"
        mat-raised-button
        color="secondary"
        [routerLink]="['/diary']"
      >
        Abbrechen
      </button>
    </mat-card-actions>
  </mat-card>
</form>
