@import "../../../../styles/variables";

.today {
  border: 1px solid $primary-color;
  padding: 5px 10px;
  border-radius: 14px;
}
.row {
  padding: 1rem;
  align-items: center;
}

.mat-divider.mat-divider-horizontal {
  position: relative;
}

.line {
  @media screen and (max-width: $break-lg) {
    margin-top: 1rem;
  }
}
