@import "spring.css";

body {
  font-size: 1.1em;
}

/* Hide Spring header */
body.toc2 {
  padding: 0;
}

#header {
  padding-right: 3em;
}

@media only screen and (min-width: 768px) {
  #header::after {
    background: none;
  }
}

/* Custom TOC header */

#toc::before {
  content: "Quarano";
  padding: 2.5em 0em 0.75em 1em;
  margin: 0em 1em 0em 0em;
  display: block;
  border-bottom: 1px solid #ddddd8;
  font-weight: bold;
}

ul>li p{
  margin-bottom: 0.1em;
}

/* Remove margin under unordered lists in tables */
td ul {
  margin-bottom: 0em !important;
}

.admonitionblock {
  border-width: 0px 0px 0px 5px !important;
}

#content {
  padding-right: 3em;
}

.imageblock,
.imageblock > .title {
  text-align: center;
}

th {
  white-space: nowrap;
}
