<mat-card class="form__card--small form__card--animated">
  <mat-card-title>
    <h1>Einmaliger Fragebogen</h1>
    <mat-progress-bar mode="determinate" [value]="counter * 10"></mat-progress-bar>
  </mat-card-title>

  <mat-card-content *ngIf="counter <= 9 && (currentQuestion$$ | async) as currentQuestion">
    <h2>{{currentQuestion.question}}</h2>
    <mat-radio-group [(ngModel)]="currentBoolAnswer" class="radio-button__group--vertical" *ngIf="currentQuestion.answerType == 'bool'">
      <mat-radio-button id="bool-answer-yes" value="1">Ja</mat-radio-button>
      <mat-radio-button id="bool-answer-no" value="0">Nein</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="w-100" *ngIf="currentQuestion.answerType == 'text'" class="form__input--full-width">
      <mat-label>Falls ja, bitte beschreiben:</mat-label>
      <textarea matInput [(ngModel)]="currentTextAnswer"></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content *ngIf="counter > 9">
    <p>Vielen Dank für die Beantwortung der Fragen. Sie können Ihre Registrierung nun abschließen.</p>
  </mat-card-content>

  <mat-card-actions *ngIf="counter <= 9">
    <button id="next-question-btn" class="w-100" mat-button mat-raised-button color="primary" (click)="continue()" [disabled]="disableButton()">Weiter</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="counter > 9">
    <button id="first-report-finish-btn" class="w-100" mat-button mat-raised-button color="primary" (click)="sendFirstQuery()">Weiter</button>
  </mat-card-actions>
</mat-card>
