<form [formGroup]="loginFormGroup" (ngSubmit)="login()">
  <mat-card class="form__card--small form__card--animated">
  <mat-card-content>
    <h1>Login für Behörden</h1>
      <mat-form-field appearance="outline" class="form__input--full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" required id="username-input">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__input--full-width">
        <mat-label>Passwort</mat-label>
        <input matInput placeholder="Passwort" formControlName="password" type="password" required id="password-input">
      </mat-form-field>
      <mat-error *ngIf="loginError">Bitte überprüfen Sie username und password.</mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" [disabled]="loginFormGroup.invalid" type="submit" id="submit-btn">Login</button>
  </mat-card-actions>
</mat-card>
</form>
