<div class="container">
  <img
    id="logo"
    src="../../../assets/quarano_transparent_logo.png"
    [routerLink]="['/']"
    height="50px"
    class="clickable"
  />
  <h2 class="clickable ml-3" [routerLink]="['/']">
    quarano
  </h2>

  <nav class="ml-3">
    <a
      routerLink="/tenant-admin"
      routerLinkActive="active"
      id="tenant-admin-login-link"
      *ngIf="isHealthDepartmentUser$ | async"
      >Für Behörden</a
    >
    <ng-container *ngIf="(isFullyAuthenticated$ | async) && !(isHealthDepartmentUser$ | async)"
      ><a routerLink="/diary" routerLinkActive="active">Tagebuch</a>
      <a routerLink="/contacts" routerLinkActive="active">Kontakte</a>
      <a routerLink="/basic-data" routerLinkActive="active">Basisdaten</a>
    </ng-container>
  </nav>
</div>
