# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Frontend STAGE

on:
  push:
    branches: [ develop ]
    paths-ignore: 
      - backend/**

defaults:
  run:
    shell: bash
    working-directory: frontend

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build-stage
#    - run: npm test
    - name: Set up CF CLI
      if: success()
      uses: jvalkeal/setup-cf-cli-action@master
      with:
        version: 6.51.0
    - name: CF Login
      if: success()
      run: cf login -a $CF_API -u $CF_USERNAME -o $CF_ORG -s $CF_SPACE -p $CF_PASSWORD
      env:
        CF_API: ${{ secrets.CF_API }}
        CF_ORG: ${{ secrets.CF_ORG }}
        CF_SPACE: ${{ secrets.CF_SPACE }}
        CF_USERNAME: ${{ secrets.CF_USERNAME }}
        CF_PASSWORD: ${{ secrets.CF_PASSWORD }}
    - name: Deploy Frontend STAGE
      if: success()
      run: cf push quarano-frontend-dev -f ../manifest.yml
